<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <link rel="stylesheet" th:href="@{/styles/brands.css}">
    <title>The Shoe base</title>
</head>
<body>

<div id="header">
    <a th:href="index"><h2> Available shoes </h2></a>
    <a th:href="categories"><h2> Categories </h2></a>
    <h1>Brands</h1>
</div>

<div id="editBrand">

    <h3>Edit brand</h3>

    <label> Name
        <input type="text" id="name" name="name"/>
        <div class="error" data-error="name">Please enter a valid name</div>
    </label>

    <label> Description
        <input type="text" id="description" name="description"/>
        <div class="error" data-error="description">Please enter a valid description</div>
    </label>

    <button id="save">Save changes</button>
    <button id="cancel">Cancel</button>
</div>

<!--Js-->
<script type="module" src="./crudBrand.js"></script>

</body>
</html>