<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <link rel="stylesheet" th:href="@{/styles/brands.css}">
    <title>The Shoe base</title>
</head>
<body>

<div id="header">
    <a th:href="index"><h2> Available shoes </h2></a>
    <a th:href="categories"><h2> Categories </h2></a>
    <h1>Brands</h1>
</div>

<div id="filters">

    <label> Name
        <input type="text" id="name"/>
    </label>

    <button id="applyFilters">Apply</button>

</div>

<a th:href="brand">
    <button id="create">Create brand</button>
</a>

<div id="brandsList">

    <div class="brandItem" th:each="brand: ${brands}" th:id="${brand.id}">
        <div th:text="${brand.name}"></div>
        <div>
            <button class="edit" th:id="${brand.id}">Edit</button>
            <button class="delete">Delete</button>
        </div>
    </div>

</div>

<div id="noResults">
    No brands found
</div>


<!--Js-->
<script type="module" src="./brands.js"></script>

</body>
</html>