<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <link rel="stylesheet" th:href="@{/styles/categories.css}">
    <title>The Shoe base</title>
</head>
<body>

<div id="header">
    <a th:href="index"><h2> Available shoes </h2></a>
    <h1>Categories</h1>
    <a th:href="brands"><h2> Brands </h2></a>
</div>

<div id="editCategory">

    <h3>Edit category</h3>

    <form action="/category/create" method="post">
        <label> Name
            <input type="text" id="name" name="title"/>
            <div class="error" data-error="name">Please enter a valid name</div>
        </label>

        <label> Description
            <input type="text" id="description" name="description"/>
            <div class="error" data-error="description">Please enter a valid description</div>
        </label>

        <button id="save">Save changes</button>
        <button id="cancel">Cancel</button>
    </form>
</div>

<!--Js-->
<script type="module" src="./crudCategory.js"></script>

</body>
</html>