<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <link rel="stylesheet" th:href="@{/styles/categories.css}">
    <title>The Shoe base</title>
</head>
<body>

<div id="header">
    <a th:href="index"><h2> Available shoes </h2></a>
    <h1>Categories</h1>
    <a th:href="brands"><h2> Brands </h2></a>
</div>

<div id="filters">

    <label> Name
        <input type="text" id="name"/>
    </label>

    <button id="applyFilters">Apply</button>

</div>

<a th:href="category">
    <button id="create">Create category</button>
</a>

<div id="categoriesList">

    <div id="noResults">
        No categories found
    </div>

</div>

<!--Js-->
<script type="module" src="./categories.js"></script>

</body>
</html>