<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <link rel="stylesheet" th:href="@{/styles/shoes.css}">
    <title>The Shoe base</title>
</head>
<body>

<div id="header">
    <h1> Available shoes </h1>
    <a th:href="categories"><h2>Categories</h2></a>
    <a th:href="brands"><h2> Brands </h2></a>
</div>

<div id="filters">

    <label> Name
        <input type="text" id="name"/>
    </label>

    <label> Price range
        <select id="priceRange">
            <option value=""> All</option>
            <option value="0-50"> < 50</option>
            <option value="50-100">50-100</option>
            <option value="100-150">100-150</option>
            <option value="150-200">150-200</option>
            <option value="200-">200 +</option>
        </select>
    </label>

    <label> Brand
        <select id="brandsDropdown">
        </select>
    </label>

    <button id="applyFilters">Apply</button>

</div>

<div id="paging">
    <a th:href="shoe">
        <button id="create">Create shoe</button>
    </a>
    <div><span id="resultsCount">0</span> items found</div>
</div>

<div id="shoeList">

    <div id="noResults">
        No shoes found
    </div>

</div>


<!--Js-->
<script type="module" src="./shoes.js"></script>

</body>
</html>