<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <link rel="stylesheet" th:href="@{/styles/shoes.css}">
    <title>The Shoe base</title>
</head>
<body>

<div id="header">
    <a th:href="index"><h1> Available shoes </h1></a>
    <a th:href="categories"><h2>Categories</h2></a>
    <a th:href="brands"><h2> Brands </h2></a>
</div>

<div id="viewShoe">

</div>

<div id="editShoe">

    <h3>Edit shoe</h3>

    <label> Name
        <input type="text" id="name"/>
        <div class="error" data-error="name">Please enter a valid name</div>
    </label>

    <div id="imagePreview" class="shoeDetails--image"></div>

    <label> Image URL
        <input type="text" id="imageURL"/>
        <div class="error" data-error="imageURL">Please enter a URL</div>
    </label>

    <label> Price
        <input type="number" id="price" step="0.01"/>
        <div class="error" data-error="price">Please enter a valid price</div>
    </label>

    <label> Brand
        <select id="brandsDropdown">
        </select>
    </label>

    <label> Categories
        <select id="categoriesDropdown" multiple>
        </select>
        <div class="error" data-error="categories">Please select at least 1 category</div>
    </label>


    <label> Gender
        <input type="checkbox" id="genderF"/> Female
        <input type="checkbox" id="genderM"/> Male
        <div class="error" data-error="gender">Please select at least 1 gender</div>
    </label>

    <label> Manufactured sizes
        <input type="number" id="sizesMin"/> - <input type="number" id="sizesMax"/>
        <div class="error" data-error="sizes">Please enter valid start and end sizes</div>
    </label>

    <button id="save">Save changes</button>
    <button id="cancel">Cancel</button>

</div>

<!--Js-->
<script type="module" src="./crudShoe.js"></script>

</body>
</html>