
#brandsList {
  margin-top: 1rem;
}

.brandItem{
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  border-bottom: 1px solid #ccc;
}

#editBrand {
  width: 500px;
}